<div
  class="w-full h-100vh md:h-[calc(100vh-135px)]  bg-gradient-to-t from-enmarcadora-principal to-white flex flex-col lg:flex-row  "
>
<div class="h-[calc(100vh/1.8)]   mx-auto my-auto">
  <img
    src = {{image}}
    alt="imagen cuadro encabezado"
    class="w-11/12 h-full    lg:h-full lg:w-full  mx-auto lg:ml-5"
  />
</div>
  <div class="flex flex-col gap-5 justify-center my-auto mx-10 h-full ">
    <p class="text-3xl md:text-4xl lg:text-5xl font-dancing ">
      {{phrase}}
    </p>
    <p class="text-3xl md:text-4xl lg:text-5xl ml-auto font-playfair">{{author}}</p>
  </div>
</div>

