<nav
  class="sticky top-0 mb-10 font-sans"
  [ngClass]="{
    'bg-enmarcadora-principal  transition-colors duration-300 text-white':
      isScrolled,
    'bg-transparent text-black': !isScrolled
  }"
>
  <div class="w-full flex flex-wrap items-center justify-between p-4">
    <div class="flex items-center">
      <a routerLink="/lacentral/login">
        <img
          src="../../../../assets/images/LogoLaCentral.png"
          class="h-12 mr-2 md:h-16"
          alt="Logo Enmarcadora La Central"
          [ngClass]="{
            'bg-white border-collapse rounded-full border-1p border-white  transition-colors duration-300':
              isScrolled
          }"
        />
      </a>
      <a routerLink="/lacentral/inicio">
        <div class="flex flex-col">
          <span
            class="self-center text-2xl md:text-3xl font-semibold whitespace-nowrap leading-5"
            >La Central</span
          >
          <span class="text-xs md:text-xl self-center whitespace-nowrap"
            >Galeria de Arte y enmarcado</span
          >
        </div>
      </a>
    </div>
    <button
      (click)="changeToggle()"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-black rounded-lg lg:hidden hover:bg-enmarcadora-fourth"
      [ngClass]="{ 'text-white ': isScrolled }"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">abrir menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="w-full lg:block lg:w-auto"
      [ngClass]="{
        'transition duration-500 block': toggleNav,
        'transition duration-500  hidden': !toggleNav
      }"
    >
      <ul
        class="flex flex-col font-medium p-4 lg:p-0 mt-4 pb-0 lg:flex-row lg:space-x-8 lg:mt-0 lg:border-0"
      >
        <li>
          <a
            routerLink="/lacentral/inicio"
            class="block py-2 pl-3 pr-4 text-base lg:text-lg hover:bg-enmarcadora-fourth lg:p-0 lg:hover:bg-transparent lg:hover:text-enmarcadora-fourth"
            aria-current="page"
            >Inicio</a
          >
        </li>

        <li>
          <a
            routerLink="/lacentral/galeria"
            class="block py-2 pl-3 pr-4 text-base lg:text-lg hover:bg-enmarcadora-fourth lg:p-0 lg:hover:bg-transparent lg:hover:text-enmarcadora-fourth"
            >Galeria</a
          >
        </li>
        <li>
          <a
            routerLink="/lacentral/enmarcado"
            class="block py-2 pl-3 pr-4 text-base lg:text-lg hover:bg-enmarcadora-fourth lg:p-0 lg:hover:bg-transparent lg:hover:text-enmarcadora-fourth"
            >Enmarcado</a
          >
        </li>
        <li>
          <a
            routerLink="/lacentral/nosotros"
            class="block py-2 pl-3 pr-4 text-base lg:text-lg hover:bg-enmarcadora-fourth lg:p-0 lg:hover:bg-transparent lg:hover:text-enmarcadora-fourth"
            >Quienes Somos</a
          >
        </li>
        <li>
          <a
            routerLink="/lacentral/contacto"
            class="block py-2 pl-3 pr-4 text-base lg:text-lg hover:bg-enmarcadora-fourth lg:p-0 lg:hover:bg-transparent lg:hover:text-enmarcadora-fourth"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
