<app-header
  [image]="'../../../../assets/images/enmarcado/enmarcado/Toro-.png'"
  [phrase]="'“I dream of painting and then I paint my dream”'"
  [author]="'-Vincent van Gogh'"
></app-header>
<br /><br />

<div class="w-3/4 md:w-1/2 mx-auto mb-10 text-justify">
  <h3
    class="font-semibold text-2xl md:text-3xl capitalize first-letter:text-5xl"
  >
    Quienes Somos
  </h3>
  <p class="text-xl">
    En enmarcadora la Central, desde 1999, nos hemos dedicado a poder satisfacer
    y ayudar a nuestros clientes para poder tener una experiencia satisfactoria
    e innovadora en los trabajos asignados. Como compañía estamos dedicados a la
    innovación y calidad de nuestros productos a un asequible y cómodo precio
    para nuestros clientes.
  </p>
  <br />
  <br />
  <h3
    class="font-semibold text-2xl md:text-3xl capitalize first-letter:text-5xl"
  >
    Visión
  </h3>
  <p class="text-xl">
    Nuestra visión es ser el destino líder para el enmarcado de piezas de arte y
    un referente en el ámbito del enmarcado. Nos dedicamos a ofrecer soluciones
    de enmarcado personalizadas y de alta calidad que realzan y protegen las
    obras de arte y recuerdos más valiosos de nuestros clientes. Como galería de
    arte, aspiramos a promover la apreciación del arte y la belleza enmarcada,
    ofreciendo un ambiente acogedor y enriquecedor donde los amantes del arte
    puedan encontrar inspiración y soluciones creativas para preservar sus obras
    más preciadas.
  </p>
  <br />
  <br />
  <h3
    class="font-semibold text-2xl md:text-3xl capitalize first-letter:text-5xl"
  >
    Misión
  </h3>
  <p class="text-xl">
    Nuestra misión es proporcionar soluciones de enmarcado personalizadas y de
    alta calidad para proteger y realzar las obras de arte y recuerdos de
    nuestros clientes. Como galería de arte, buscamos promover la apreciación
    cultural y la creatividad, brindando un espacio acogedor para que artistas
    exhiban sus obras y para que los amantes del arte se conecten con diversas
    expresiones artísticas. Aspiramos a enriquecer emocionalmente a nuestra
    comunidad, haciendo que cada pieza enmarcada cuente una historia única y
    significativa y ofreciendo una experiencia inolvidable para nuestros
    clientes y visitantes.
  </p>
</div>
