<div class="flex flex-row justify-center items-center ">
    <div
      class="flex flex-row rounded-3xl bg-gradient-to-tl from-white to-enmarcadora-principal border-white "
    >
      <div
        class="shadow-lg rounded-3xl mx-2 w-full md:mx-auto md:w-custom flex flex-col justify-start"
      >
        <div
          class="w-44 flex flex-row items-center justify-center mx-auto rounded-full bg-white m-5 border border-white"
        >
          <img
            class="cover"
            lazyLoad="../../../../assets/images/LogoLaCentral.png"
            alt=""
          />
        </div>
        <div class="flex h-full w-full">
          <form class="flex flex-col w-full mx-12">
            <div class="my-3">
              <label class="text-white font-semibold">Email</label>
              <div class="relative">
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
                >
                  <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 16"
                  >
                    <path
                      d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                    />
                    <path
                      d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                    />
                  </svg>
                </div>
                <input
                  type="email"
                  class="h-10 border-2 border-enmarcadora-principal rounded-lg text-sm block w-full pl-10 p-2.5"
                  placeholder="lacentral@gmail.com"
                />
              </div>
            </div>
            <div class="my-3">
              <label class="text-white font-semibold">Contraseña</label>
              <input
                class="h-10 border-2 border-enmarcadora-principal rounded-lg text-sm block w-full pl-2 p-2.5"
                [type]="show ? 'text' : 'password'"
                placeholder="*******"
              />
            </div>

            <div class="flex flex-row items-center gap-2 mt-2">
              <input
                name="checkbox"
                id="showPassword"
                aria-describedby="showPassword"
                type="checkbox"
                class="w-4 h-4 border border-white"
                (click)="showPassword()"
              />
              <label class="text-white font-semibold">Mostrar Contraseña</label>
            </div>
            <button
              class="w-full bg-enmarcadora-principal rounded-lg h-12 text-white font-semibold my-10 hover:bg-white hover:text-enmarcadora-principal hover:transition-colors"
            >
              Ingresar
            </button>
          </form>
        </div>
      </div>

      <div
        class="hidden lg:block flex-col w-vlg h-vlg border-black my-5 justify-center items-center"
      >
        <img
          [lazyLoad]="currentImage"
          alt="Imagen"
          class="md:w-9/12 md:h-9/12 mx-auto my-auto transition-opacity duration-500"
          [style.opacity]="showImage ? 1 : 0"
        />
      </div>
    </div>
  </div>
