<div *ngIf="WorseNotify.length > 0">
  <app-alert-user [type]="WorseNotify"></app-alert-user>
</div>
<div *ngIf="badNotify.length > 0">
  <app-badalert [type]="badNotify"></app-badalert>
</div>
<div *ngIf="notify.length > 0">
  <app-notify [type]="notify"> </app-notify>
</div>
<main class="w-5/6 ">
    <section class="my-5">
      <h1 class="text-5xl flex justify-center items-center font-playfair">
        Cambiar Contraseña
      </h1>
    </section>
    <section class="w-3/6 mt-24 mx-auto p-5">
      <div class="bg-enmarcadora-principal rounded-2xl shadow-lg p-5 w-custom mx-auto">
        <form [formGroup]="formUser" (ngSubmit)="updateUser()">
          <div class="my-3">
            <label class="text-white font-semibold">Email</label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 16"
                >
                  <path
                    d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                  />
                  <path
                    d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                  />
                </svg>
              </div>
              <input
                type="email"
                formControlName="email"
                class="h-10 border-2 border-enmarcadora-principal rounded-lg text-sm block w-full pl-10 p-2.5"
                placeholder="lacentral@gmail.com"
              />
            </div>
            <app-alert
            [hidden]="
              formUser.get('email')?.valid || formUser.get('email')?.pristine
            "
            alert="El email no es valido"
          ></app-alert>
          </div>
          <div class="my-3">
            <label class="text-white font-semibold">Contraseña</label>
            <input
              class="h-10 border-2 border-enmarcadora-principal rounded-lg text-sm block w-full pl-2 p-2.5"
              [type]="show ? 'text' : 'password'"
              placeholder="*******"
              formControlName="passPassword"
            />
          </div>
          <div class="my-3">
            <label class="text-white font-semibold">Nueva Contraseña</label>
            <input
              class="h-10 border-2 border-enmarcadora-principal rounded-lg text-sm block w-full pl-2 p-2.5"
              [type]="show ? 'text' : 'password'"
              placeholder="*******"
              formControlName="password"
            />
            <app-alert
            [hidden]="
              formUser.get('password')?.valid ||
              formUser.get('password')?.pristine
            "
            *ngIf="formUser.get('password')?.hasError('required')"
            alert="La contraseña es requerida"
          ></app-alert>
          
          <app-alert
            [hidden]="
              formUser.get('password')?.valid ||
              formUser.get('password')?.pristine
            "
            *ngIf="formUser.get('password')?.hasError('maxlength')"
            alert="La contraseña no puede exceder los 25 caracteres"
          ></app-alert>
          
          <app-alert
            [hidden]="
              formUser.get('password')?.valid ||
              formUser.get('password')?.pristine
            "
            *ngIf="formUser.get('password')?.hasError('minlength')"
            alert="La contraseña debe tener al menos 8 caracteres"
          ></app-alert>
          
          <app-alert
            [hidden]="
              formUser.get('password')?.valid ||
              formUser.get('password')?.pristine
            "
            *ngIf="formUser.get('password')?.hasError('pattern')"
            alert="La contraseña debe contener al menos una letra mayúscula y un carácter especial"
          ></app-alert>
          </div>
          <div class="my-3">
            <label class="text-white font-semibold">Confirmar Contraseña</label>
            <input
              class="h-10 border-2 border-enmarcadora-principal rounded-lg text-sm block w-full pl-2 p-2.5"
              [type]="show ? 'text' : 'password'"
              placeholder="*******"
              formControlName="confirmPassword"
            />
            <app-alert
            [hidden]="
              formUser.get('confirmPassword')?.valid ||
              formUser.get('confirmPassword')?.pristine
            "
            *ngIf="
              formUser.get('confirmPassword')?.hasError('passwordsNotMatch')
            "
            alert="Las contraseñas no coinciden"
          ></app-alert>
          </div>
  
          <div class="flex flex-row items-center gap-2 mt-2">
            <input
              name="checkbox"
              id="showPassword"
              aria-describedby="showPassword"
              type="checkbox"
              class="w-4 h-4 border border-white"
              (click)="showPassword()"
            />
            <label class="text-white font-semibold">Mostrar Contraseña</label>
          </div>
          <button
          [disabled]="formUser.invalid"
          [ngClass]="{
            'bg-red-800 ': formUser.invalid,
            '  bg-enmarcadora-principal   hover:bg-white hover:text-enmarcadora-principal':
              !formUser.invalid
          }"
            class="w-full text-white  rounded-lg h-12  font-semibold my-10  hover:transition-colors"
          >
          
            Actualizar
          </button>
        </form>
      </div>
    </section>
  </main>
  